<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
   
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/diary.css">
</head>
<body>
   
<header><h3 class="diary">Hello Dan, Welcome to My Diary</h3> 
 </header>
  <div class="container">  
     <div top-nav>
      <h3 class="signout">Signout</h3>
        </div>

      
  
         <div class="footer">Andela Bootcamp Dev. 2018</div> 
  </body>
</html>

 