<!DOCTYPE html>
 <html>
  <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
	<title>Signup - My Diary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>

  <body>
   <div class ="container"> 
    <form>
   <header> <h1 class="hdr-text">Signup on My Diary</h1>
   </header>
     

      <input type="text" placeholder="Username" name="uname">
      <input type="email" placeholder="Email Address" name="email">
      <input type="password" placeholder="Password" name="password">
      <input type="password" placeholder="Retype Password" name="repwd">
	  <button id="submit" class="signupbtn">Signup</button>

   
  
     <div class="container signin">
      <p>Already have an account? <a href="signin.html">Sign in</a>.</p>
     </div>
    </form>
   </div>
  <div class="footer">Andela Bootcamp Dev. 2018</div> 
  </body>
 </html>