<!DOCTYPE html>
 <html>
  <head>
	 <title>Signin - My Diary</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
 <body>
	<div class ="container">   
        <form>

    <h1 class="hdr-text">Signin to My Diary</h1>
   
	<input type="text" placeholder="Username" name="uname">
	<input type="password" placeholder="Password" name="password">
	<button type="submit" class="signinbtn">Signin</button>

       </form>
    </div>
       <div class="footer">Andela Bootcamp Dev. <script language="JavaScript">
          var currentDate = new Date(); 
          document.write(currentDate.getFullYear());
        </script> </div> 
 </body>
</html>