<html>
<head>
  </head><body><header class="frontpage-backgrd"></header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Welcome | Get Started</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">


<body>
<div class="container">  
 <header>
     <div class="frntpage-backgrd"></div>
  </header>
<div class ="nav-container">
     <li class="nav-item"> <a href="signin.html">Sign In</a></li>
</div>

       <a href="signup.html" class="btn btn-custom ">Let's Get Started</a>
      
   </div>
         <div class="footer">Andela Bootcamp Dev. 2018</div> 
  

</body>
</html>