<!DOCTYPE html>
 <html>
  <head>
	<title>Signup - My Diary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>

  <body>
   <div class ="container"> 
    <form>

      <h1 class="hdr-text">Signup on My Diary</h1>
	
      <input type="text" placeholder="Username" id="user" name="user" required="required">
      <input type="email" placeholder="Email Address" id="email" name="email" required="required">
      <input type="password" placeholder="Password" id="pass" name="password" required="required">
      <input type="password" placeholder="Retype Password" id="repass" name="repass" required="required">
	    <button type="submit" id="register" class="signupbtn">Signup</button>

   
  
     <div class="container signin">
      <p>Already have an account? <a href="signin.html">Sign in</a>.</p>
     </div>
    </form>
   </div>
 <div class="footer">Andela Bootcamp Dev. 2018</div> 
        <script src="../server/signup.js"></script>
  </body>
 </html>