<!DOCTYPE html>
 <html>
  <head>
	 <title>Signin - My Diary</title>
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  </head>
 <body>
	<div class ="container">   
        <form>

    <h1 class="hdr-text">Signin to My Diary</h1>
   
	<input type="text" id="user" placeholder="Username" name="user" required="required">
	<input type="password" id="pass" placeholder="Password" name="pass" required="required">
	<button type="submit" id="login" class="signinbtn">Signin</button>

	<div class="container signin">
      <p>Don't have an account yet? <a href="./signup.html">Sign up</a>.</p>
     </div>

       </form>
    </div>
       <div class="footer">Andela Bootcamp Dev. 2018</div> 
       <script src="../dist/signin.js"></script>
 </body>
</html>